.Rproj.user/
.Rhistory
R/build_formula_test.R
inst/doc
models/
data/fit_1d_1pl_spm.rds
*.rds
interactive_scripts/GSS2006.sav
interactive_scripts/Gesamtdatensatz Querschnitt.sav
interactive_scripts/orddata.csv
interactive_scripts/dataset.csv
interactive_scripts/old/
data-raw/data_tina.xlsx
data-raw/daten_fdw_simon.xlsx
data-raw/items_tina.xlsx
interactive_scripts/GDCP2021/Baysesche_ItemReponseModellierung_mit_R_short.html
