.Rproj.user/
.Rhistory
R/build_formula_test.R
inst/doc
models/
data/fit_1d_1pl_spm.rds
*.rds
interactive_scripts/GSS2006.sav
interactive_scripts/Gesamtdatensatz Querschnitt.sav
interactive_scripts/orddata.csv
interactive_scripts/dataset.csv
