.gdbar img {
  width: 150px !important;
  height: 150px !important;
  margin: 8px 8px;
  position: absolute;
  left: 0%;
}

.gdbar {
  width: 250px !important;
  height: 170px !important;
}

aside.gdbar {
  left: initial;
  right: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  background-position: right;
}

slides > slide:not(.nobackground):before {
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
  position: absolute;
  left: 90%;
  top: 5%;
}

authorcompany:after {
  content: attr(label);
  font-size: 12pt;
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  line-height: 1.9;
  text-align: center;
}

authorname:after {
  content: attr(label);
  font-size: 12pt;
  position: absolute;
  bottom: 20px;
  left: 5%;
  line-height: 1.9;
}

h3 {
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

small {
  font-size: 1rem;
}

smaller {
  font-size: .8rem;
}

big {
  font-size: 1.5em
}

.nospace {
  margin-bottom: -30px;
}

.lessspace {
  margin-bottom: 10px;
}

.lang-small { /*Change made here*/
  font-size: 70% !important;
  line-height: 100%;
  background-color: white;
}

.leftindent {
  margin-left: 30px;
}

.csl-entry {
  font-size: 0.375em;
}

.smallrsource {
  font-size: 0.66em;
}
